{% extends 'base.html.twig' %}

{% block body %}

<section class="articles">

    {% for article in articles %}
        <article>
            <h2>{{ article.title }}</h2>
            <div class="metadata">Ecrit le {{ article.createAt | date('d/m/Y') }} à {{ article.createAt | date('h:i') }} dans la catégorie {{ article.category.title }}</div>
            <div class="content">
                <img src="{{ article.image }}" alt=""><br>
                {{ article.content | raw }}
                <a href="{{ path('blog_show', {'id': article.id}) }}" class="btn btn-primary">lire la suite</a>
            </div>
        </article>
    {% endfor %}

</section>

{% endblock %}