{% extends "base.html.twig" %}

{% block body %}
    <article>
        <h2>{{ article.title }}</h2>
        <div class="metadata">Ecrit le {{ article.createAt | date('d/m/Y') }} à {{ article.createAt | date('h:i') }}  dans la catégorie {{ article.category.title }}</div>
        <div class="content">
            <img src="{{ article.image }}" alt="{{ article.title }}">
            {{ article.content | raw }}
        </div>
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{path('blog_edit', {'id': article.id})}}" class="btn btn-success">Modifier</a>
        {% endif %}
    </article>

    <section id="commentaires">
        <h1>{{ article.comments | length }}  commentaires :</h1>
        {% for comment in article.comments %}
        <div class="comment">
            <div class="row">
                <div class="col-3">
                    {{comment.author}}(<small>{{comment.createdAt | date('d/m/Y à H:i')}}</small>)
                </div>
                <div class="col">
                    {{comment.content | raw}}
                </div>
            </div>
        </div>
        {% endfor %}

        {% if app.user %}
        <h2>Vorte commentaire</h2>
        {{ form_start(commentForm) }}
            {{ form_row(commentForm.author, {'label': 'Nom d\'auteur', 'attr': {'placeholder': "Votre nom"}}) }}
            {{ form_row(commentForm.content, {'label': 'Contenu', 'attr': {'placeholder': "Votre commentraire"}}) }}

            <button type="submit" class="btn btn-success">Commenter</button>
        {{ form_end(commentForm) }}

        {% else %}
            <h2>vous ne pouvez pas commenter si vous n'être pas conecté !</h2>
            <a href="{{path('app_login')}}" class="btn btn-primary">Connexion</a>
        {% endif %}
    </section>
{% endblock %}